<html>

<head>
    <link rel="stylesheet" href="../../public/stylesheets/home.css">
</head>

<body>
    <!--Title Area -->
    <div class="div-title">
        <p class="p-title">Butterfly Effect</p>
    </div>
    <!--Navigation bar -->
    <div class="topnav">
		<a class="active" href="../views/home.html">Home</a>
        <a href="../views/trending.html">Trending</a>
        <a href="../views/about-us.html">About Us</a>
    </div>
    <!--Search bar -->
    <div class="div-search-bar">
        <form id='search_form'>
            <div class='form-user_search'>
			<div class="search">
				<input type="text" class="searchTerm" placeholder="What are you looking for?">
				<i class="fa fa-search"></i>
            </div>
            <div class='form-sub'>
				<a href="./trending.html">See what's trending</a>
				
            </div>
        </form>
		
		<form method="POST" action="/foo-route">
		<input type="text" id="bar" name="bar" />
		<button type="submit">Send</button>
		</form>

    </div>
	

    <!--Text Field -->
    

</body>
<link href="/javascripts/home.js" rel="script" type="text/javascript">
<script type="text/javascript" src="/javascripts/home.js"></script>

</html>