<html>

<head>
    <link rel="stylesheet" href="../../public/stylesheets/home.css">
</head>

<body>
    <!--Title Area -->
    <div class="div-title">
        <p class="p-title">Butterfly Effect</p>
    </div>
    <!--Navigation bar -->
    <div class="topnav">
		<p class = "description">News, Trends and More</p>
    </div>
    <!--Search bar -->
    <div class="div-search-bar">
		<form method="POST" action="/search">
		<input type="text" id="bar" name="bar" placeholder="What are you looking for?"/>
		<div>
		<button type="submit" class="searchButton">See what's trending</button>
		</div>
		</form>
    </div>
    <img src="../../public/images/butterfly.jpg" class="center" alt="Butterfly" height="400" width="400">
	

    <!--Text Field -->
    

</body>
<link href="/javascripts/home.js" rel="script" type="text/javascript">
<script type="text/javascript" src="/javascripts/home.js"></script>

</html>