<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" type = "text/css" href = "../../public/stylesheets/trending.css"/>
</head>

<body>

    <!--Title Area -->
    <div class="div-title">
        <p class="p-title">Trending</p>
    </div>
    
    <!--Navigation bar -->
    <ul class = "topnav">
        <li class = "navigation-title">Butterfly Effect</li>
        <li class = "li-nav"><a class="active" href="../views/trending.html">Trending</a></li>
        <li class = "li-nav"><a href="../views/home.html">Home</a></li>
    </ul>

    <div class="div-date">
        <p id="date" style="color:green; text-align: center"></p>
    </div>

    <!--Twitter Trending, Finance Information, & Additional Information -->
    <div class="row">
        <!--Twitter Trending using Twitter Color Scheme-->
        <div class="column left" style="background-color:#c0deed;" style="resize: inherit;
        overflow: inherit;">
            <h1 class="h1-twitter-title">Twitter Trending</h1>
            <div id = "tweets"></div>
        </div>
		
		<!-- Finance Information -->
        <div class="column middle" style="background-color:#4e71ba;">
            <h1 id = "Company Name" class="h1-facebook-title">Finance Graph</h1>
            <canvas style = "background-color: white;" id = "myChart" height= "350"></canvas>
            <div id = "financeGraph"></div>
            
		</div>
		
        <div class="column right" style="background-color:#aaa;">   
            <h1 class="h1-additional-information-title">Additional Information</h1>
            <!--Wikipedia Information-->
            <h3 class="h3-wiki-sumary-title">Wikipedia Summary</h6>
                <p id="wiki_summary" class="p-wiki-summary-description">Wikipedia summary...</p>
                <div class="div-additional-information-API">
                    <!--Additional API Information-->
                    <h3 class="h3-additional-API">Daily Finance Summary</h3>
                    <div id="finance_summary" class="additional-information-column div-additional-API">
                        <div id = root></div>
                    </div>
                    <!--Sentiment Information-->
                    <h3 class="h3-sentiment-API">Sentiment Score</h3>
                    <div id="sentiment" class="additional-information-column div-sentiment-API">
                    </div>
                </div>
        </div>
		
			
        </div> 

    </div>

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="../../public/javascripts/trending.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="../../client/src/App.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>