body {
    margin:0;
    background: white;
}
/* Style the search bar and make it bigger */
input#search-bar{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    top: 0px;

    &:focus{
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;

        &::-webkit-input-placeholder{
            transition: opacity 0.45s ease; 
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease; 
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease; 
            opacity: 0;
        }    
    }
}
.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
}
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

/* div search bar class */
.div-search-bar{

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    top: -40px;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.div-description {
    position: relative;
    top: 40px;   
    left: 22px;       
    margin: 0 auto;
    width: 500px;
    height: 200px;
    padding: 0 20px;
    border: 1px solid #D0CFCE;
    outline: none;
    background-color: #333;
}

.p-descrption{
    text-align: center;
    font-size: 17px;
    color: #f2f2f2;
}

.div-title {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: -40px;
    height: 80px;
    background-color: black;
   
}

.p-title{
    font-size: 40px;
    text-align: center;
    color: #f2f2f2;
    position: relative;
    top: 15px;
   
}