<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" type = "text/css" href = "../../public/stylesheets/trending.css"/>
</head>

<body>
    <!-- Facebook API init-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '424606181825598',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v5.0'
            });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

    <!--Title Area -->
    <div class="div-title">
        <p class="p-title">Trending</p>
    </div>
    
    <!--Navigation bar -->
    <ul class = "topnav">
        <li><a href="../views/home.html">Home</a></li>
        <li><a class="active" href="../views/trending.html">Trending</a></li>
        <li><a href="../views/news.html">News</a></li>
        <li><a href="../views/sports.html">Sports</a></li>
        <li><a href="../views/finance.html">Finance</a></li>
        <li><a href="../views/about-us.html">About Us</a></li>
    </ul>

    <div class="div-date">
        <p id="date" style="color:green; text-align: center"></p>
    </div>

    <!--Twitter Trending, Facebook Trending, & Additional Information -->
    <div class="row">
        <!--Twitter Trending using Twitter Color Scheme-->
        <div class="column left" style="background-color:#c0deed;" style="resize: inherit;
        overflow: inherit;">
            <h1 class="h1-twitter-title">Twitter Trending</h1>
            <ul style="list-style-type:none;">
                <li class="li-trend-list" id="tweet" tweetID="" onclick=""></li>
                <li class="li-trend-list" id="tweet" tweetID="" onclick=""></li>
                <li class="li-trend-list" id="tweet" tweetID="" onclick=""></li>
                <li class="li-trend-list" id="tweet" tweetID="" onclick=""></li>
                <li class="li-trend-list" id="tweetTimeline" onclick=""></li>
            </ul>
        </div>
        <!--Facebook Trending-->
        <div class="column middle" style="background-color:#4e71ba;">
            <h1 class="h1-facebook-title">Facebook Trending</h1>
            <ul style="list-style-type:none;">
                <li class="li-trend-list" id="facebook_post">Trend 1</li>
                <li class="li-trend-list" id="facebook_post">Trend 2</li>
                <li class="li-trend-list" id="facebook_post">Trend 3</li>
                <li class="li-trend-list" id="facebook_post">Trend 4</li>
                <li class="li-trend-list" id="facebook_post">Trend 5</li>
            </ul>
        </div>
        <!--Additional Information-->
        <div class="column right" style="background-color:#aaa;">
            <h1 class="h1-additional-information-title">Additional Information</h1>
            <!--Wikipedia Information-->
            <h3 class="h3-wiki-sumary-title">Wikipedia Summary</h6>
                <p id="wiki_summary" class="p-wiki-summary-description">Wikipedia summary...</p>
                <div class="div-additional-information-API">
                    <!--Sentiment Information-->
                    <h3 class="h3-sentiment-API">Sentiment Score</h3>
                    <div class=" additional-information-column div-sentiment-API">

                    </div>
                    <!--Additional API Information-->
                    <h3 class="h3-additional-API">Additional API</h3>
                    <div class="additional-information-column div-additional-API">

                    </div>
                </div>
        </div>

    </div>

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="../public/javascripts/trending.js"></script>

    <!--
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: 'your-app-id',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v5.0'
            });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>-->
</body>

</html>