<html>

<head>
    <link rel="stylesheet" href="../public/stylesheets/home.css">
</head>

<body>
    <!--Title Area -->
    <div class="div-title">
        <p class="p-title">Butterfly Effect</p>
    </div>
    <!--Navigation bar -->
    <div class="topnav">
        <a href="../views/home.html">Home</a>
        <a class="active" href="../views/trending.html">Trending</a>
        <a href="../views/news.html">News</a>
        <a href="../views/sports.html">Sports</a>
        <a href="../views/finance.html">Finance</a>
        <a href="../views/about-us.html">About Us</a>
    </div>
    <!--Search bar -->
    <div class="div-search-bar">
        <form id='search_form'>
            <div class='form-user_search'>
                <label  id='searchLable' for='searchField'>Please enter desired search: </label>
                <input size="300" id='search_field' type='text'></input>
            </div>
            <div class='form-sub'>
                <button id='submit_button' type='button'>Submit</button>
            </div>
        </form>

    </div>

    <!--Text Field -->
    <div class="div-description">
        <p class="p-descrption">Description</p>
    </div>

</body>
<link href="/javascripts/home.js" rel="script" type="text/javascript">
<script type="text/javascript" src="/javascripts/home.js"></script>

</html>