
    body {
        margin: 0;
        background: white;
    }

    .div-title {
        position: relative;
        margin: 0 auto;
        width: 100%;
        top: -40px;
        height: 80px;
        background-color: black;

    }

    .div-date 
    {
        position: relative;
        margin: 0 auto;
        width: 25%;
        top: -40px;
        height:60px%;
        color: white;
        
    }

    .p-title {
        font-size: 40px;
        text-align: center;
        color: #f2f2f2;
        position: relative;
        top: 15px;

    }

    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #333;
        overflow: hidden;
        position: relative;
        top: -40px;

    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .column {
        float: left;
        padding: 10px;
        height: 525px;
    }

    /* twitter and facebook box */
    .left,
    .middle {
        width: 22%;
        margin-left: 3%;
        margin-left: 3%;

    }

    /* additional information box */
    .right {
        width: 40%;
        margin-left: 3%;
        margin-left: 3%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .h1-twitter-title {
        text-align: center;
    }

    .h1-facebook-title {
        text-align: center;
    }

    .h1-additional-information-title {
        text-align: center;
    }

    .h3-wiki-sumary-title {
        text-align: center;
    }

    .p-wiki-summary-description {
        border: 1px solid black;
        line-height: 100px;
        text-align: center;
        width: 93%;
        position: relative;
        left: 4%;

    }

    .li-trend-list {
        margin-top: 12%;
        border: 1px solid black;
        line-height: 300%;
        margin-right: 10%;
        text-align: center;
    }

    li:first-child {
        margin-top: 0;
    }

    .div-additional-information-API:after {
        content: "";
        display: table;
        clear: both;
    }

    .additional-information-column {
        float: left;
        padding: 10px;
        height: 200px;
        margin-left: 4%;
    }

    .div-sentiment-API {
        width: 40%;
        border: 1px solid black;
        position: relative;
    }

    .div-additional-API {
        width: 40%;
        margin-left: 6%;
        border: 1px solid black;
        position: relative;
        top: -40px;
    }

    .h3-sentiment-API {
        position: relative;
        left: 15%;
    }

    .h3-additional-API {
        position: relative;
        left: 18%;
        top: -40px;
    }
